body{
    margin: 0;
    padding: 0;
    
}
nav{
    grid-area: nav;
    background-color: #38306e;
    height: 5vh;
    width: 100vw;
    color: #fff;
    text-align: center;
    padding: 15px;
    
    font-size: 20px;
}
aside{
    display: flex;
    flex-direction: column;
    grid-area: aside;
    background-color: gainsboro;
    line-height: 1px;
    color: black;
    text-align: center;
    
    min-width: 150px;
}
section{
    grid-area: section;
    background-color: gainsboro;
    
    color:white;
    text-align: center;
    
}
footer{
    grid-area: footer;
    background-color: white;
    height: 5vh;
    width: 100vw;
    color: black;
    text-align: center;
    
    font-size: 20px;
}


.container{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "aside section section"
    "footer footer footer";
    border: 2px solid;
    width: 100vw;
    height: 100vh;
}
.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 10px;
}
.item-shop{
    display: flex;
    flex-direction: column;
}

.btn {
    display: block;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #38306e;
    
    color: white;
}

.card-title {
    text-align: center;
    color: black;
}

.card-text {
    color: black;
    text-align: center;
    
}

.card {
    background-color: white;
}

.line {
    
    text-decoration: none;
    color: black;

    
}